body{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container{
    width: 100%;
    color: antiquewhite;
    
}

.row{

    width:max-content;
    height:100%;
    border: 5px solid aqua;
    margin-bottom: 50px;
}
.card-img{
    margin-top:20px ;
    height: 150px;
    width: 270px;
    border: 2px solid black;
}
.card-body{
    margin-top:20px ;
    width: 200px;
     
}
.btn{
    margin-top: 30px;
}